body {
    background-color: rgb(82, 82, 228);
    text-align: center;
    word-wrap: normal;
    text-decoration: solid;
    text-transform: uppercase;
    font: 2em sans-serif;
    height: auto;
    font-family: Montserrat;
}

    
