body {
    margin: 0;
    font-family: monospace;
    box-sizing: border-box;
    background-color: rgb(180, 235, 232);
    color: #daf0d1;

}

/*HEADER SECTION*/

.header {
    height: 100vh;
    box-sizing: border-box;
    background-image: url(inteligenci-artificial-635x358.jpg);
    background-size: cover;
    display: flex;
    
    
}

.header__overlay {
    height: 100vh;
    width: 100%;
    background-color: rgba(101, 65, 160, 0.4);
    position: absolute;
    z-index: 1;
    

}

.header__item-container {
    position: relative;
    z-index: 10;
    margin: auto;
    text-align: center;
    max-width: 1000px;
    
}

.header__item-container p {
    text-wrap: pretty;
}

.header__img {
    min-width: 60px;
    max-width: 20%;
    border-radius: 50%;
    border: 3px solid #53525204;
    margin: -25px;
    margin-right: -1%;
    margin-top: -80%;
    

}

h1 {
    margin: 130px;
    font-size: 1.5rem;
    text-wrap: balance;
    text-align-last: center;
    text-align: unset;
    

}

/**NAVBAR SECTION**/

.nav {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 6px 20px;
    text-align: center;
    position: sticky;
    top: 0;
    margin-bottom: 10px;
    box-shadow: 0;
}

.nav__ul {
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 0;
    
    
}

.nav__item {
    list-style: none;
    
} 

.nav__logo-container {
    flex-grow: 9;
}

.nav__ul-container, .nav__ul-container {
    flex-grow: 6;
    text-align: start;
}

.li .nav__link {
    width: 20px;
    padding: 30px;
    height: 50px;
    background-size: contain;
}

.nav__link {
    color: rgb(213, 176, 248);
    text-decoration: none;
    display: inline-block;
    padding: 8px 10px;
    border-radius: 0;
    transition: background-color 0.3s, border-radius 0.24s, outline: 0.3s, outline-offset 0.3s;
    margin: 2px;
    outline: 0;
    outline-offset: 0;
}

.nav--link:hover {
    background-color: rgba(69, 192, 65, 0.2);
    border-radius: 20px;
    outline: 2px solid: #f803;
    outline: offset: -8px;


}

.link--login {
    background-color: rgb(210, 170, 248);
    color: #fff;
    border-radius: 20px;
    padding: 8px 24px;
    margin-left: 6px;

}

.link--login:hover {
    background-color: rgba(225, 145, 241, 0.6);
}

.nav__logo {
    width: 70px;
}

/*MAX-SECTION*/

.main {
    
    max-width: 1000px;

}

h2 {
    color: #0d88cf;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 50px;
    background-color: #e9c0f1;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #0d88cf;

}

/* CARRUSEL */

em {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#0d88cf;
}

/* HIDE SCROLL BAR */

.hwrap {
    overflow: hidden;
    background: #fff;
    }

.hmove { display: flex; }

.hitem {
    flex-shrink: 0;
    width: 25vw;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    }
    
    @keyframes tickerh {
        0% { transform: translate3d(100%, 0, 0); }
        100% { transform: translate3d(-200%, 0, 0); }
    }
.hmove { animation: tickerh linear 20s infinite; }
.hmove:hover { animation-play-state: paused; }

/*

.tabs_panel_dominios{background:#ffffff;background-image:url("https://click.com.ar/images/fondo-registro-dominios.webp");background-repeat:no-repeat;background-position:top;padding:20px 0 60px 0;color:#FFFFFF;}
.tabs_panel_dominios .etabs{float:left;width:100%;margin-bottom:50px;padding:0 0 0px 0;border-bottom:0px solid #333;}
.tabs_panel_dominios .etabs li{float:left;margin-bottom:10px;margin-right:10px;}
.tabs_panel_dominios .etabs i{color:rgba(0,100,255,0.80);margin-right:15px;}
.tabs_panel_dominios .tab{display:inline-block;zoom:1;*display:inline;background:rgba(255, 255, 109,0.7);color:#001eef;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.tabs_panel_dominios .tab a{display:block;padding:6px 30px;color:#fff;outline:none;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.tabs_panel_dominios .tab a.active{color:#fff;background:rgba(60, 179, 113,0.5);border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.tabs_panel_dominios .tab a.active i{color:#fff;}
.tabs_panel_dominios .tab a:hover{background:rgba(0,100,255,0.80);}
.tabs_panel_dominios .tab a:hover i{color:#fff;}
.tabs_panel_dominios .tab-container > div{background:transparent;padding:30px 0;border:none;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.tabs_panel_dominios h1{font-size:20px;padding:0 0 10px 0;font-weight:normal;color:#ffffff;text-transform:uppercase;}
.tabs_panel_dominios h1 em{font-weight:bold;}
.tabs_panel_dominios .tab-container div i{color:#ffffff;}
.tabs_panel_dominios .box_feature h6{color:#fff;}
.tabs_panel_dominios .box_feature .box_feature_icon span{background:#0d0d0d;}

.tabs_panel_pagos{background:#ffffff;background-image:url("https://click.com.ar/images/fondo-registro-dominios.webp");background-repeat:no-repeat;background-position:top;padding:20px 0 60px 0;color:#FFFFFF;}.tabs_panel_pagos .etabs{float:left;width:100%;margin-bottom:50px;padding:0 0 0px 0;border-bottom:0px solid #333;}.tabs_panel_pagos .etabs li{float:left;margin-bottom:10px;margin-right:10px;}.tabs_panel_pagos .etabs i{color:rgba(0,100,255,0.80);margin-right:15px;}.tabs_panel_pagos .tab{display:inline-block;zoom:1;*display:inline;background:rgba(255, 255, 109,0.7);color:#001eef;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}.tabs_panel_pagos .tab a{display:block;padding:6px 30px;color:#fff;outline:none;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}.tabs_panel_pagos .tab a.active{color:#fff;background:rgba(60, 179, 113,0.5);border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}.tabs_panel_pagos .tab a.active i{color:#fff;}.tabs_panel_pagos .tab a:hover{background:rgba(0,100,255,0.80);}.tabs_panel_pagos .tab a:hover i{color:#fff;}.tabs_panel_pagos .tab-container > div{background:transparent;padding:30px 0;border:none;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}.tabs_panel_pagos h1{font-size:20px;padding:0 0 10px 0;font-weight:normal;color:#ffffff;text-transform:uppercase;}.tabs_panel_pagos h1 em{font-weight:bold;}.tabs_panel_pagos .tab-container div i{color:#ffffff;}.tabs_panel_pagos .box_feature h6{color:#fff;}.tabs_panel_pagos .box_feature .box_feature_icon span{background:#0d0d0d;}

*/

.latest_posts_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: #f5f2f2;
    padding: 20px;
    border-radius: 10px;
}

.post_grid_item {
    background-color: rgb(17, 14, 14);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center; /* Alinea los elementos verticalmente al centro */
    text-align: left; /* Alinea el texto a la izquierda en pantallas grandes */
}

.post_grid_item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%; /* Redondea la imagen en forma de círculo */
    margin-right: 15px;
    opacity: 0.8; 
}

.post_content {
    flex: 1;
}

.post_content h6 {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.post_content h6 a {
    /* color: #333; */
    text-decoration: none;
    transition: color 0.3s;
}

.post_content h6 a:hover {
    color: #007bff;
}

.post_content p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #111010;
}

.post_content p a {
    color: #007bff;
    text-decoration: none;
    font-weight: 500;
}

.post_content p a:hover {
   /* text-decoration: underline; */
}

/* Media query para pantallas móviles */
@media (max-width: 768px) {
    .latest_posts_grid {
        grid-template-columns: 1fr;
    }

    .post_grid_item {
        flex-direction: column; /* Imagen arriba y contenido abajo */
        align-items: center; /* Centra los elementos en la columna */
        text-align: center; /* Centra el texto */
    }

    .post_grid_item img {
        margin: 0 0 10px; /* Elimina el margen derecho y agrega margen inferior */
    }

    .post_content {
        text-align: center; /* Centra el texto */
    }
}


/* ------- CONTACT QUERIES ------- */

@CONTAINER form (min-width: 56.25rem){
    
    .form__form {
        grid-template-columns: 1fr 1;
        grid-template-areas:
        "name lastname"
        "email email"
        "message message"
        "buttom buttom";
        gap: 12px;
        background-image: radial-gradient(#18233f11,#18233f33);
        padding: 30px;
        border-radius: 12px;
        box-shadow: 0px 8px 40px rgba(236, 233, 233, 0.4);
        
    }

    .form__input-container:first-child{
        grid-area: name;
    }

    .form__input-container:nth-child(2){
        grid-area: lastname;
    }
    
    .form__input-container:nth-child(3){
        grid-area: email;
    }
    
    .form__input-container:nth-child(4){
        grid-area: message;
    }
    
    .form__input-container:nth-child(5){
        grid-area: buttom ;
    }

    .form__input-container :is(input,textarea) {
        box-shadow: 0;
        border-radius: 4px;
        
    }

}

h3 {
    color: #111010;
}

label {
    color: #111010;
}

/* ------- CONTACT ENDS ------- */

/* ------- FOOTER SECTION ------- */

footer {
    padding: 60px;
    text-align: left;
    background-color: #18233f;
    color: rgba(250, 248, 248, 0.867);
    font-size: 23px;
}

